.container-login{
    
    
    background-color: rgba(5, 4, 4, 0.411);
    border: 0;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    align-self: center;
    margin-top: 250px;
    
    
}

.text{
    color: rgb(186, 194, 201); 
    font-size: calc(20px + 2vmin);
    margin: 10px;
}

.text-account{
    color: rgb(186, 194, 201); 
    font-size: 15px;
    margin: 10px;
}

.box{
    border: 0;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.signin{
    border: 10px;
    border-radius: 5px;
    font-size: 30px;
    background:  rgb(186, 194, 201); 
}
.signin:hover{
    background-color: rgb(23, 73, 82);
}